
.entry-header {
  @include media-breakpoint-up(lg) {
    order: 10;
  }
}

.entry-meta {

  .entry-categories {
    font-size: 16px;
    line-height: 21px;
    font-family: $headings-font-family;
    font-weight: 500;
    text-transform: uppercase;

    margin-right: 19px;
    letter-spacing: 1px;
  }

  .entry-date {
    font-size: 16px;
    line-height: 20px;
    font-family: $font-family-accent;
    font-style: italic;

    color: $gray-500;

    margin-right: 19px;
  }

  .post-edit-link {

  }
}

.entry-title {
  font-size: 48px;
  line-height: 54px;
  margin: .05em 0 .5em 0;

  @include media-breakpoint-up(lg) {
    line-height: 48px;
  }
}

.entry-cover {
  @include media-breakpoint-up(lg) {
    order: 20;
  }
}

.entry-preview {
  margin-right: -($grid-gutter-width / 2);
  margin-left: -($grid-gutter-width / 2);

  @include media-breakpoint-up(lg) {
    margin-right: 0;
    margin-left: 0;
  }

  img {
    @include img-fluid();
  }
}

.entry-excerpt {
  display: none;
  font-size: 24px;
  line-height: 31px;
  font-family: $headings-font-family;

  color: rgba(0, 0, 0, .5);

  margin-top: 30px;

  @include media-breakpoint-up(lg) {
    order: 30;
    display: block;
  }
}

.entry-share {
  margin-top: 30px;
  margin-bottom: 60px;

  .likely {
    display: block !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .likely__widget {
    margin-left: 0 !important;
  }
}

.entry-content {
  .likely {
    display: block !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .likely__widget {
    margin-left: 0 !important;
  }
}
