.icon {
  fill: #c1c1c1;

  .icons-on-dark & {
    fill: rgba(255, 255, 255, .5);
  }
}

a {
  @include hover {
    .icon-facebook {
      fill: #2857a2;
    }

    .icon-instagram {
      fill: #cf00e8;
    }

    .icon-telegram {
      fill: #00aeea;
    }
  }
}
