
.page-header {
  margin: 50px 0 100px 0;
}

.post,
.page {
  body.blog &,
  body.post-template-default &,
  body.archive &,
  body.page & {
    margin: 50px 0 60px 0;
  }
}

.page-content {
  margin: 50px 0 60px 0;
}

#infinite-handle {
  background-color: #f2f2f2;
  padding: 41px 0;

  span {
    padding: 0 !important;
    background: none !important;
  }

  button {
    background-color: #484848 !important;
    color: #f2f2f2 !important;
    border-radius: 100px !important;
    border: 0 !important;
    font-size: 18px !important;
    line-height: 1 !important;
    font-weight: 700 !important;

    padding: 16px 32px !important;
    margin: 0 auto !important;
    display: block !important;

    cursor: pointer !important;

    &:hover {
      background-color: lighten(#484848, 10%) !important;
    }
  }
}

.infinite-wrap {
  @include make-container();
  //@include make-container-max-widths();
  @include media-breakpoint-up(lg) {
    width: map_get($container-max-widths, lg);
  }
}

.infinite-loader {
  .spinner {
    margin: 0 auto !important;
    height: 34px !important;
  }
}