
.page-header {
  margin: 55px 0 100px 0;
}

.post,
.page {
  body.blog &,
  body.single &,
  body.archive &,
  body.page {
    margin: 55px 0;
  }
}

.page-content {
  margin: 55px 0;
}

#infinite-handle {
  background-color: #f2f2f2;
  padding: 41px 0;

  button {
    background-color: #484848;
    color: #f2f2f2;
    border-radius: 100px;
    border: 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;

    padding: 16px 32px;
    margin: 0 auto;
    display: block;

    cursor: pointer;
  }
}

.infinite-wrap {
  @include make-container();
  @include make-container-max-widths();
}