.site-footer {
  background-color: #000;
}

.site-footer-title {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;

  .text-accent {
    font-weight: normal;
  }
}

.site-footer-components {
  //min-height: 5em;
  padding-top: 60px;
  padding-bottom: 60px;
}

.site-footer-menu {
  .menu-item {
    padding: 0 30px 0 0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
  }
}

.site-footer-dash {
  height: 2px;
  overflow: hidden;
  background-color: #313131;
  margin: 36px 0;
}

.site-footer-under-title,
.site-footer-about,
.site-footer-powered {
  font-size: 14px;
  line-height: 19px;
}

.site-footer-under-title {
  a {
    text-decoration: underline;
  }
}
