.site-footer {
  background-color: #000;
}

#site-footer-header {
  order: 10;

  @include media-breakpoint-up(lg) {
    top: -.6em;
  }
}

#site-footer-title {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;

  margin: 19px 0 24px 0;

  @include media-breakpoint-up(lg) {
    font-size: 24px;
    margin: 0;
  }

  .text-accent {
    font-weight: normal;
  }

  .current {
    color: $body-bg;
  }
}

.site-footer-components {
  padding-top: 46px;
  //padding-bottom: 46px;

  @include media-breakpoint-up(lg) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

#site-footer-menu {
  order: 20;
  margin-top: 35px;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    top: -.6em;
  }

  .menu-item {
    padding: 0 30px 0 0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
  }

  .current-menu-item {
    a {
      color: $body-bg;
    }
  }
}

#site-footer-social {
  order: 15;
  margin-top: 10px;
  margin-bottom: 10px;

  @include media-breakpoint-up(lg) {
    order: 30;
  }

  .menu-item {
    margin-left: 10px;

    a {
      border-radius: 50%;
    }

    a,
    .icon {
      display: block;
      width: 40px;
      height: 40px;

      @include media-breakpoint-up(lg) {
        width: 30px;
        height: 30px;
      }
    }

    .icon {

    }
  }

  .icon {
    fill: rgba(255, 255, 255, .5);
  }
}

.site-footer-dash {
  height: 2px;
  overflow: hidden;
  background-color: #313131;
  margin: 36px 0;
}

#site-footer-under-title,
#site-footer-about,
#site-footer-powered {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 28px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

#site-footer-under-title {
  a {
    text-decoration: underline;
  }
}

#site-footer-powered {

  @include media-breakpoint-up(lg) {
    text-align: right;
  }

  .setka-logo {
    width: 140px;
    height: 26px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: -.035em;
    margin: 0 .1em;

    svg {
      max-height: 100%;
      @include img-fluid();
    }

    .logo-color {
      display: none;
    }

    &:hover {
      .logo-bw {
        display: none;
      }
      .logo-color {
        display: block;
      }
    }
  }
}