.site-header {
  background-color: #f2f2f2;
}

.site-header-components {
  @include media-breakpoint-up(lg) {
    padding: 50px 0 54px 0;
  }
}

#site-header-branding {
  order: 10;
}

.site-title {
  font-size: 36px;
  margin: 19px 0 24px 0;
  line-height: 1;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 24px;
    margin: 0;
  }

  .text-accent {
    font-weight: normal;
  }
}

#site-navigation {
  order: 20;

  @include media-breakpoint-down(md) {
    background: $body-bg;

    padding-top: 21px;

    font-size: 18px;
  }
}

#primary-menu {

  .menu-item {
    padding: 0 30px 0 0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
  }
}

#site-header-social {
  order: 15;
  margin-top: 10px;
  margin-bottom: 10px;

  @include media-breakpoint-up(lg) {
    order: 30;
  }

  .menu-item {
    margin-left: 10px;

    a {
      border-radius: 50%;
    }

    a,
    .icon {
      display: block;
      width: 40px;
      height: 40px;

      @include media-breakpoint-up(lg) {
        width: 30px;
        height: 30px;
      }
    }

    .icon {

    }
  }
}
