.site-header {
  background-color: #f2f2f2;
}

.site-header-components {
  @include media-breakpoint-up(lg) {
    padding: 15px 0 15px 0;
  }
}

#site-header-branding {
  order: 10;

  @include media-breakpoint-up(lg) {
  }
}

.site-title {
  font-size: 22px;
  margin: 24px 0 24px 0;
  line-height: 1;
  font-weight: 500;

  @include media-breakpoint-up(lg) {
    font-size: 24px;
    margin: 0;
  }

  .text-accent {
    font-weight: normal;
  }
}

#site-header-icon {
  position: relative;
  width: 46px;

  @include media-breakpoint-up(lg) {
    width: 66px;
  }

  a {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;

    transition: opacity 400ms;

    @include media-breakpoint-up(lg) {
      width: 66px;
      height: 66px;
    }

    &:hover {
      opacity: .8;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

#site-navigation {
  order: 20;

  @include media-breakpoint-down(md) {
    background: $body-bg;

    padding-top: 5px;

    font-size: 18px;
  }

  @include media-breakpoint-up(lg) {
  }
}

#primary-menu {

  .menu-item {
    margin: 15px 30px 15px 0;
    text-transform: uppercase;
    font-family: $headings-font-family;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1px;
  }

  .current-menu-item {
    a {
      color: $link-color;
    }
  }
}

#site-header-social {
  order: 15;
  margin-top: 10px;
  margin-bottom: 10px;

  @include media-breakpoint-up(lg) {
    order: 30;
  }

  .menu-item {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    a {
      border-radius: 50%;
    }

    a,
    .icon {
      display: block;
      width: 40px;
      height: 40px;

      @include media-breakpoint-up(lg) {
        width: 30px;
        height: 30px;
      }
    }

    .icon {

    }
  }
}

#site-header-additional {
  order: 25;
  padding-right: 25px;

  .menu-item {
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }
  }
}
