@font-face {
  font-family: 'Walsheim';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/gt-walsheim-regular.woff');
}

@font-face {
  font-family: 'Walsheim';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/gt-walsheim-medium.woff');
}

@font-face {
  font-family: 'Walsheim';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/gt-walsheim-bold.woff');
}
