.text-mono {
  a {
    color: $body-color;

    @include hover {
      color: $link-color;
    }
  }
}

.text-gray {
  color: #b3b3b3;

  a {
    color: #b3b3b3;

    @include hover {
      color: #fff;
    }
  }
}

.text-accent {
  font-family: $font-family-accent;
}
