.text-mono {
  a {
    color: #000;

    @include hover {
      color: $link-color;
    }
  }
}

.text-gray {
  a {
    color: #b3b3b3;

    @include hover {
      color: #fff;
    }
  }
}

.text-footer {
  &,
  a,
  a:visited,
  a:hover,
  a:focus {
    color: #fff;
  }
}

.text-accent {
  font-family: $font-family-accent;
}
